</div>
<!-- end container -->

<footer class="footer-custom text-white text-center py-3 mt-5">
    <p class="mb-0">&copy; QUẢN LÝ KHO SẢN PHẨM VÀ NHÂN VIÊN</p>
</footer>

<style>
  .footer-custom {
    background: linear-gradient(90deg, #ff7e5f, #ff4b2b);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.15);
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
